<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<link rel="stylesheet" type="text/css" href="../../resources/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/easydropdown.flat.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/common.css" />
		<style type="text/css">
			textarea {
				height: 100px;
				width: 281px;
				border: none;
				padding: 10px;
				outline: none;
				resize: none;
			}
		</style>
		<title>编辑</title>
	</head>

	<body class="bgff">
		<form class="w-form tl" id="sForm">
			<div class="w-input-group">
				<label>消息标题<i class="red">*</i></label>
				<div class="input-con"><input type="text" maxlength="200" name="title" v-model="form.realname"></div>
			</div>
			<div class="w-input-group">
				<label>详细内容<i class="red">*</i></label>
				<div class="input-con"><textarea name="content"></textarea></div>
			</div>
			<div class="w-input-group bnone mt20 mb10 tc js-footer-btn">
				<span class="btn btn-primary input-sm js-submit">提交保存</span>
				<span class="btn btn-default input-sm js-quit">取消</span>
			</div>
		</form>
		<script type="text/javascript" src="../../resources/require.js"></script>
		<script type="text/javascript" src="../../resources/modules/message/add.js"></script>
	</body>

</html>