<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<link rel="stylesheet" type="text/css" href="../../resources/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/libs/bootstrap/bootstrap-table/bootstrap-table.css" />
		<link rel="stylesheet" type="text/css" href="../../resources/css/common.css" />
		<title></title>
	</head>
	<body>
		<!-- 搜索容器-->
		<div class="search-panel" id="sForm">
			<form class="form-inline tl ">
				<div class="form-group">
					<span class="btn btn-primary btn-after-icon icon-message js-add">发布消息</span>
				</div>
			</form>
		</div>
		<!--表格容器-->
		<div class="table-panel">
			<table id="btrTable"></table>
		</div>
		<script type="text/javascript" src="../../resources/require.js"></script>
		<script type="text/javascript" src="../../resources/modules/message/index.js"></script>
	</body>

</html>